.wallpaper(ng-style="wallpaper")
  
  .controls 
    .volume
      i(ng-show="Player.getVolume() > 60 && Player.getVolume() <= 100").material-icons volume_up
      i(ng-show="Player.getVolume() > 30 && Player.getVolume() <= 60").material-icons volume_down
      i(ng-show="Player.getVolume() >= 1 && Player.getVolume() <= 30").material-icons volume_mute
      i(ng-show="Player.getVolume() == 0").material-icons volume_off
      md-slider(min="0" max="100" value="100" ng-model="volume" ng-init="volume = 100" ng-change="Player.setVolume(volume)" aria-label="Volume")

    .location
      md-button(class="md-fab small" ng-click="Player.previous()")
        i(class="material-icons play") skip_previous
        
      md-button(class="md-fab" ng-class="{active: Player.isActive(track), isPlaying: Player.isPlaying(track)}" ng-click="Player.isPlaying(track) ? Player.pause(track) : Player.play(track)")
        i(class="material-icons play") play_arrow
        i(class="material-icons pause") pause
        
      md-button(class="md-fab small" ng-click="Player.next()")
        i(class="material-icons play") skip_next
        
    .actions
      md-button(class="md-icon-button" ng-click="Player.toggleRepeat()")
        i.material-icons(ng-class="{active: Player.isRepeat()}") repeat
      md-button(class="md-icon-button" ng-click="Player.toggleShuffle()")
        i.material-icons(ng-class="{active: Player.isShuffle()}") shuffle
      md-button(class="md-icon-button" ng-click="Player.isFavorite() ? Player.removeFavorite() : Player.setFavorite()")
        i.material-icons(ng-hide="Player.isFavorite()") favorite_border
        i.material-icons.active(ng-show="Player.isFavorite()") favorite
        
  .info 
    .playing
      .wrapper
        .cover
          img(src="{{ track.artwork_url }}")
    
        .about
          .author {{ track.user.username }}
            
          .title {{ track.title }}
    
    .upcoming
      h2 Upcoming
      .track
        .title {{ Player.getUpcoming(1).user.username }}
        .author {{ Player.getUpcoming(1).title }}
        
      .track.medium
        .title {{ Player.getUpcoming(2).user.username }}
        .author {{ Player.getUpcoming(2).title }}
        
      .track.small
        .title {{ Player.getUpcoming(3).user.username }}
        .author {{ Player.getUpcoming(3).title }}
      
md-slider(min="0" max="1000" ng-model="progress" id="progress" aria-label="Progress").progress
