.whisper
  .controls
    md-menu
      md-button.md-icon-button.add(ng-click="$mdOpenMenu($event)")
        span(md-menu-origin) +
      md-menu-content(width="4")
        md-menu-item
          md-button.queue(ng-click="addToQueue(track)")
            md-icon
              i(class="material-icons") queue
            | Add to queue
        md-menu-divider
        md-menu-item(ng-repeat="playlist in ::$window.cache.IDs.playlists")
          md-button(ng-click="addToPlaylist(playlist.id, track)")
            | {{ ::playlist.title }}
  
    md-button(class="md-fab" ng-class="{active: Player.isActive(track), isPlaying: Player.isPlaying(track)}" ng-click="Player.isPlaying(track) ? Player.pause(track) : Player.play(track, queue)")
      i(class="material-icons play") play_arrow
      i(class="material-icons pause") pause

    div(ng-switch="API.isFavorite(track)")
      i.material-icons(ng-switch-when="false" ng-click="Player.setFavorite(track)") favorite_border
      i.material-icons.red(ng-switch-when="true" ng-click="Player.removeFavorite(track)") favorite
    
    .holder
      i.material-icons cached
      i.material-icons link

  .title {{ ::track.title }}
  .artist {{ ::track.user.username }}
  .duration {{ ::duration }}
