.whisper {
  height: 60px;
  padding: 10px 20px 10px 5px;
  border-bottom: 1px solid #e2e2e2;

  display: flex;
  flex-direction: row;
  align-items: center;

  .controls {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 10px;

    > i, .holder, .add > span {
      transition: color 0.2s ease-in-out, width 0.1s ease-in-out, opacity 0.1s ease;
    }

    > i, .holder i {
      cursor: pointer;
      color: lightgrey;
      margin-right: 2px;
    }

    .holder {
      opacity: 0;
      width: 0px;
      display: flex;
      align-items: center;

      i {
        text-overflow: clip;
        overflow: visible;
      }
    }

    .add {
      font-size: 30px;
      margin-right: 0;
      color: lightgrey;

      > span {
        font-family: 'Roboto', sans-serif !important;
        font-weight: 300;
      }
    }
  }

  &:hover {
    .controls .add > span {
      color: black;
    }

    .controls > i, .controls > .holder i {
      color: #4a4a4a;
    }

    .controls > .holder {
      width: 50px;
      opacity: 1;
    }
  }

  .red {
    color: #e74c3c !important;
  }

  .md-fab {
    color: #4a4a4a;
    transform: scale(0.7);
    margin-right: 0;
    transition: background-color 0.5s ease;
    margin-left: -10px;
  }

  .md-fab, .md-fab:not([disabled]):hover {
    background-color: white;
  }

  .active {
    background-color: #ff8820 !important;
    color: white;
  }

  .isPlaying {
    .play {
      display: none;
    }

    .pause {
      display: block;
    }
  }

  .play, .pause {
    font-size: 40px;
  }

  .play {
    display: block;
  }

  .pause {
    display: none;
  }

  * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
  }

  .title {
    flex: 3;
  }

  .artist {
    flex: 1;
    text-align: right;
  }

  .duration {
    margin-left: 20px;
    font-weight: 500;
  }
}
