.whisper
  .controls
    md-button.md-icon-button.add
      | +
  
    md-button(class="md-fab" ng-class="{active: Player.isActive(track), isPlaying: Player.isPlaying(track)}" ng-click="Player.isPlaying(track) ? Player.pause(track) : Player.play(track, queue)")
      i(class="material-icons play") play_arrow
      i(class="material-icons pause") pause

    i.material-icons(ng-hide="API.isFavorite(track)" ng-click="Player.setFavorite(track)") favorite_border
    i.material-icons.red(ng-show="API.isFavorite(track)" ng-click="Player.removeFavorite(track)") favorite
    
    .holder
      i.material-icons cached
      i.material-icons link

  .title {{ track.title }}
  .artist {{ track.user.username }}
  .duration {{ duration }}
