.chant {
  margin: 20px 15px;
  background-color: transparent;

  display: flex;
  flex-direction: column;

  .playlist {
    margin-top: 10px;

    > .whisper:last-child {
      border-bottom: none;
    }
  }

  .action {
    margin-bottom: 10px;

    &, > * {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    > img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .type {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      margin-left: 10px;
      font-size: 14px;
    }

    .link {
      margin-right: 5px;
      text-decoration: underline;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: row;
  }

  .content {
    width: 100%;

    .title, .artist {
      font-family: 'Roboto';
      font-weight: 300;
      margin: 10px;
    }

    .title {
      font-size: 20px;
      margin-top: 0;
    }

    .artist {
      margin-bottom: 0;
    }
  }

  .artwork {
    width: 150px;
    height: 150px;
    position: relative;
    cursor: pointer;

    &:before {
      font-family: 'Roboto', sans-serif;
      content: '+';
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 70px;
      font-weight: 100;
      height: 150px;
      width: 150px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;

      opacity: 0;
      transition: opacity 0.2s ease;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }

    > img {
      border-radius: 2px;
      width: 150px;
      height: 150px;
    }
  }

  .genre {
    float: right;
    background-color: #444444;
    padding: 3px 8px;
    color: white;
    font-size: 11px;
    margin: 4px;
  }

  .player {
    width: 100%;
    height: 90px;

    display: flex;

    .controls {
      flex: 0 0 100px;

      .play {
        position: relative;
        border-radius: 50%;
        font-size: 25px;

        .md-fab {
          margin: 0 auto;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.5s ease;
          z-index: 0;
        }

        .active {
          background-color: #ff8820;
          .play, .pause {
            color: white;
          }
        }

        .isPlaying {
          .pause {
            display: block;
          }

          .play {
            display: none;
          }
        }

        .play, .pause {
          background-color: transparent;
          color: #4a4a4a;
          font-size: 35px;
        }

        .pause {
          display: none;
        }
      }

      .meta {
        display: flex;
        justify-content: space-around;
        height: 40px;
        padding: 14px;
        margin: auto;

        .active {
          color: #e74c3c;
        }

        > i {
          color: #4a4a4a;
          font-size: 21px;
          cursor: pointer;
        }
      }
    }

    .waveform {
      position: relative;
      margin-top: 5px;
      &, > canvas {
        width: 100%;
        height: 100%;
      }

      > canvas {
        position: absolute;
      }
    }
  }
}
