.chant
  .artwork
    img(src="{{ item.track.artwork_url_larger }}")
    
  .content 
    .genre {{ item.track.genre }}
    .artist {{ item.track.user.username }}
    .title {{ item.track.title }}

    .player
      .controls
        .play
          md-button(class="md-fab" ng-class="{active: Player.isActive(item.track), isPlaying: Player.isPlaying(item.track)}" ng-click="Player.isPlaying(item.track) ? Player.pause(item.track) : Player.play(item.track, queue)")
            i(class="material-icons play") play_arrow
            i(class="material-icons pause") pause
          
        .meta
          i(class="material-icons" ng-hide="API.isFavorite(item.track)" ng-click="Player.setFavorite(item.track)") favorite_border
          i(class="material-icons active" ng-show="API.isFavorite(item.track)" ng-click="Player.removeFavorite(item.track)") favorite
          i(class="material-icons") cached
          i(class="material-icons") link

      .waveform
        canvas
