.chant
  
  .action
    img(src="{{ item.user.avatar_url }}")
    .type {{ item.user.username }} {{ annotation }}

  .wrapper
    .artwork
      img(src="{{ item.track.artwork_url_larger || item.track.artwork_url }}")
      
    .content 
      .genre {{ item.track.genre }}
      .artist {{ playlist_author || item.track.user.username }}
      .title {{ playlist_title || item.track.title }}

      .player
        .controls
          .play
            md-button(class="md-fab" ng-class="{active: Player.isActive(item.track), isPlaying: Player.isPlaying(item.track)}" ng-click="Player.isPlaying(item.track) ? Player.pause(item.track) : Player.play(item.track, queue)")
              i(class="material-icons play") play_arrow
              i(class="material-icons pause") pause
            
          .meta(ng-hide="isPlaylist")
            i(class="material-icons" ng-hide="API.isFavorite(item.track)" ng-click="Player.setFavorite(item.track)") favorite_border
            i(class="material-icons active" ng-show="API.isFavorite(item.track)" ng-click="Player.removeFavorite(item.track)") favorite
            i(class="material-icons") cached
            i(class="material-icons") link
            
          .meta(ng-show="isPlaylist")
            i(class="material-icons" ng-hide="API.isFavorite(item.track)" ng-click="Player.setFavorite(item.track)") favorite_border
            i(class="material-icons active" ng-show="API.isFavorite(item.track)" ng-click="Player.removeFavorite(item.track)") favorite
            i(class="material-icons") cached
            i(class="material-icons") link

        .waveform
          canvas
          
  .playlist
    whisper(ng-repeat="track in tracks" track="track" queue="queue")
